:root {
    --background-color: #03a2fd;
    --phone-bg: #fff;
    --border-color: #070707;
    --button-check-bg: #28a745;
    --button-check-hover: #1b722e;
    --button-clear-bg: #dc3545;
    --button-clear-hover: #810e19;

}

body {
    font-family: monospace, sans-serif;
    font-size: 20px;
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;    
    align-items: center;
    height: 100%;
    gap: 10vh;
}
#phone-container {
    background-color: var(--phone-bg);
    width: 320px;
    height: 550px;
    border: 10px solid var(--border-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}
#camera {
    width: 15px;
    height: 15px;
    background-color: #222;
    border-radius: 50%;
    margin-bottom: 20px;
}

label {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

output {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    height: 70%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}

button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 2s;
}

#check-btn {
    background-color: var(--button-check-bg);
    color: white;
}

#check-btn:hover {
    background-color: var(--button-check-hover);
}

#clear-btn {
    background-color: var(--button-clear-bg);
    color: white;
}

#clear-btn:hover {
    background-color: var(--button-clear-hover);
}
